body {
background-color: white;
background-repeat: repeat;
}
#screen div {
float: left;
}
#screen {
overflow: auto;
}
.crystals-button {
display: inline;
}
.crystal-img {
width: 80px;
height: 80px;
cursor: pointer;
}
